.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 45px;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid var(--accent-hover);
  color: var(--primary);

  &:hover {
    cursor: pointer;
    background-color: var(--accent);
  }
}

.buttonFilled {
  background-color: var(--primary);
  color: white;
  border: none;

  &:hover {
    background-color: var(--primary-hover);
  }
}
