.ModalHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;

  .ModalHeader__Text {
    display: flex;
    flex-direction: column;
    gap: 3px;

    h3 {
      font-size: 22px;
    }

    span {
      color: #6c7284;
      font-size: 14px;
    }
  }

  .ModalHeader__Close {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    color: #66666f;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 5px;

    svg {
      width: 25px;
      height: 25px;
    }

    &:hover {
      background-color: var(--accent);
      cursor: pointer;
    }
  }
}
