.Modal__Backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--modal-backdrop);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
}

.New__Password__Modal {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  width: 700px;
  height: 500px;
  padding: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.202);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.Modal__Header {
  display: flex;
  flex-direction: row;
  align-items: center;

  .Modal__Header__Info {
    h3 {
      font-size: 22px;
    }

    span {
      color: #6c7284;
      font-size: 14px;
    }
  }

  .Modal__Close {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    color: #6c7284;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 5px;

    svg {
      width: 25px;
      height: 25px;
    }

    &:hover {
      background-color: var(--accent);
      color: #6e49e8;
      cursor: pointer;
    }
  }
}

.Modal__Form {
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  .Modal__Form__Inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .Modal__Form__Buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .Modal__Form__Images {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      span {
        font-weight: 500;
      }

      button {
        background-color: var(--accent);
        color: #6e49e8;
        border: none;
        font-weight: 500;
        font-size: 14px;
        border-radius: 6px;

        &:hover {
          background-color: #6e49e8;
          color: white;
          cursor: pointer;
        }
      }

      .Modal__Form__Upload {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        width: 150px;
        height: 150px;

        svg {
          width: 25px;
          height: 25px;
        }
      }

      .Modal__Form__Fetch {
        width: 240px;
        height: 45px;
      }

      .Modal__Form__Fetch__Requirement {
        text-align: center;
        margin-top: 5px;
        font-size: 12px;
        color: #6c7284;
      }
    }

    .Modal__Form__Actions {
      display: flex;
      gap: 10px;
      align-self: flex-end;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 45px;
        border: none;
        border-radius: 6px;
        font-weight: 500;
        font-size: 14px;
        background-color: transparent;

        &:hover {
          cursor: pointer;
        }
      }

      .Modal__Form__Cancel {
        border: 1px solid #6e49e8;
        color: #6e49e8;

        &:hover {
          background-color: #6e49e8;
          color: white;
        }
      }

      .Modal__Form__Save {
        background-color: #6e49e8;
        color: white;

        &:hover {
          background-color: #583ab8;
        }
      }
    }
  }
}
