.Register {
  .Authentication__Container {
    gap: 200px;
  }

  .Register__Image {
    img {
      width: 700px;
      height: auto;
    }
  }

  @media only screen and (max-width: 1440px) {
    .Authentication__Container {
      gap: 150px !important;
    }
    .Login__Image {
      img {
        width: 600px !important;
      }
    }
  }
}
