.Login {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .Login__Container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
    padding: 0 80px;
    gap: 200px;

    .Login__Form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 400px;
      height: 600px;
    }

    .Login__Image {
      img {
        width: 900px;
        height: auto;
      }
    }
  }
}
