.Register {
  .Register__Container {
    display: flex;
    flex-direction: row;
    padding: 0 80px;
    gap: 200px;

    .Register__Form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 520px;
      height: 600px;
    }

    .Register__Image {
      img {
        width: 600px;
        height: auto;
      }
    }
  }
}
