.PasswordItem {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--secondary-accent);
  height: 65px;

  &:last-child:not(.Backdrop):not(.View__Password__Modal) {
    border: none !important;

    .PasswordItem__Info {
      border-radius: 0 0 0 10px;
    }
    .PasswordItem__Actions {
      border-radius: 0 0 10px 0;
    }
  }

  .PasswordItem__Info {
    display: flex;
    align-items: center;
    width: 92%;
    height: 100%;
    padding: 0 25px;

    &:hover {
      background-color: var(--accent);
      cursor: pointer;
    }

    img {
      width: 30px;
    }

    .PasswordItem__Details {
      margin-left: 15px;

      span {
        font-size: 14px;
      }

      .PasswordItem__Details__Identifier {
        font-weight: 500;
      }

      .PasswordItem__Details__Email {
        color: #66666f;
      }
    }
  }

  .PasswordItem__Actions {
    width: 8%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;

    &:hover {
      background-color: var(--accent);
      cursor: pointer;
    }
  }
}
