.PasswordSearch {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-left: auto;

  .PasswordSearch__Input {
    display: flex;
    align-items: center;
    width: 375px;
    height: 45px;
    background-color: transparent;
    color: var(--primary);
    font-size: 16px;
    border: none;
    border-bottom: 1px solid var(--secondary-accent);
    padding-left: 30px;
    padding-bottom: 2px;

    &:focus {
      outline: none;
      border-bottom: 2px solid #6e49e8;
      padding-bottom: 0px;
    }
  }

  .PasswordSearch__Icon {
    position: absolute;
    color: #6f6d6d;
  }
}
