.add {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 30px;
  background-color: var(--primary);
  color: white;
  font-size: 40px;
  border-radius: 50px;

  &:hover {
    background-color: #583ab8;
    cursor: pointer;
  }
}
