.Password {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 5px;
  border-bottom: 1px solid#DADCE0;

  &:last-child {
    border: none;
  }

  img {
    width: 30px;
  }

  .Password__Details {
    margin-left: 15px;

    span {
      font-size: 14px;
    }

    .Password__Details__Site {
      font-weight: 500;
    }

    .Password__Details__Email {
      color: #7f7f7f;
    }
  }

  .Password__View {
    margin-left: auto;
  }
}
