.Passwords__Header {
  display: flex;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 25px 25px 0 25px;

  span {
    font-weight: 500;
    font-size: 18px;
  }

  .Passwords__Search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-left: auto;

    .Passwords__Search__Input {
      display: flex;
      align-items: center;
      width: 375px;
      height: 45px;
      color: #888491;
      font-size: 16px;
      border: none;
      border-bottom: 1px solid #bab5c3;
      padding-left: 30px;
      padding-bottom: 1px;

      &:focus {
        outline: none;
        border-bottom: 2px solid #6e49e8;
        padding-bottom: 0;
      }
    }

    .Passwords__Search__Icon {
      position: absolute;
      color: #6f6d6d;
    }
  }
}
