.PasswordDetail {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .PasswordDetail__Input {
    display: flex;
    align-items: center;
    height: 45px;
    width: 100%;
    background-color: var(--accent);
    padding-left: 10px;
    border-radius: 6px;

    input:disabled {
      width: 80%;
      background-color: transparent;
      color: var(--secondary-text);
      font-size: 16px;
      border: none;
      padding: 0;
    }

    .PasswordDetail__Actions {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      margin-right: 10px;
      gap: 5px;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 4px;
        color: var(--secondary-text);

        &:hover {
          cursor: pointer;
          background-color: var(--accent-hover);
        }
      }

      .PasswordDetail__Action__Disabled {
        visibility: hidden;
      }
    }
  }

  span {
    margin-left: auto;
  }
}
