.View__Password__Modal {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  width: 700px;
  height: 500px;
  padding: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.202);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 999;
}

.Modal__Form {
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  .Modal__Form__Inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .Modal__Form__Buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .Modal__Form__Actions {
      display: flex;
      gap: 10px;
      align-self: flex-end;
    }
  }
}
