.FormError {
  display: flex;
  align-items: center;
  background-color: var(--form-error);
  color: #e84949;
  height: fit-content;
  padding: 15px;
  border-radius: 8px;

  span {
    margin-left: 10px;
  }
}
