.FormHeader {
  h3 {
    font-size: 26px;
  }
  span {
    margin-top: 2px;
    color: #acafc1;
  }
  a {
    color: #6e49e8;

    &:hover {
      text-decoration: underline;
      color: #32216c;
    }
  }
}
