.error {
  display: flex;
  align-items: center;
  background-color: var(--form-error);
  color: #e84949;
  height: fit-content;
  padding: 15px;
  border-radius: 8px;
  gap: 15px;

  .errorIcon {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
