.UpdatePasswordModal {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  width: 700px;
  height: 550px;
  padding: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.202);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 999;
}
