.form {
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .actions {
      display: flex;
      gap: 10px;
      align-self: flex-end;
      margin-bottom: 40px;
    }
  }
}
