.Modal__Backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
}

.New__Password__Modal {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  width: 500px;
  height: 400px;
  padding: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.202);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.Modal__Header {
  display: flex;
  flex-direction: row;
  align-items: center;

  .Modal__Header__Info {
    span {
      color: #6c7284;
      font-size: 14px;
    }
  }

  .Modal__Close {
    margin-left: auto;
    margin-right: 5px;
    color: #6c7284;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}

.Modal__Form {
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  .Modal__Form__Inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .Modal__Form__Buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .Modal__Form__Images {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      span {
        font-weight: 500;
      }

      button {
        background-color: var(--accent);
        color: #6e49e8;
        border: none;
        font-weight: 500;

        &:hover {
          background-color: #6e49e8;
          color: white;
          cursor: pointer;
        }
      }

      .Modal__Form__Upload {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        width: 110px;
        height: 110px;
        border-radius: 6px;

        svg {
          width: 24px;
          height: 24px;
        }
      }

      .Modal__Form__Fetch {
        width: 200px;
        height: 35px;
        border-radius: 4px;
      }
    }

    .Modal__Form__Actions {
      display: flex;
      gap: 10px;
      align-self: flex-end;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 38px;
      }
    }
  }
}
