.banner {
  border: 1px solid var(--secondary-accent);
  border-radius: 12px;
  width: 850px;
  height: 200px;
  padding: 30px;
  display: flex;
  align-items: center;

  img {
    width: 180px;
    height: auto;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-left: 20px;

    h1 {
      font-size: 28px;
    }

    span {
      color: var(--secondary-text);
      font-weight: 300;
    }

    button {
      width: 180px;
      height: 40px;
      background-color: var(--primary);
      color: white;
      border: none;
      border-radius: 6px;
      font-weight: 500;
      margin-top: 15px;

      &:hover {
        background-color: var(--primary-hover);
        color: white;
        cursor: pointer;
      }
    }
  }
}
