.Navbar {
  padding: 20px;

  .Navbar__Logo {
    width: 120px;
    height: auto;
  }

  .Navbar__Buttons {
    float: right;
    display: flex;
    gap: 20px;

    button {
      height: 35px;
      border-radius: 4px;
      background-color: var(--accent);
      color: #6e49e8;
      border: none;

      &:hover {
        background-color: #6e49e8;
        color: white;
        cursor: pointer;
      }
    }
  }

  .Navbar__Theme {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .Navbar__Profile {
    display: flex;
    align-items: center;
    width: 110px;

    img {
      width: 24px;
      height: auto;
      border-radius: 50px;
    }

    span {
      font-weight: 600;
      margin: 0 10px;
    }
  }
}
