:root {
  --background: white;
  --primary: black;
  --accent: #f5efff;
  --secondary-accent: #dcdae0;
}
[data-theme="dark"] {
  --background: #111017;
  --primary: white;
  --accent: #181834;
  --secondary-accent: #2a242f;
}

.App {
  background-color: var(--background);
  color: var(--primary);
}
