:root {
  --background: white;
  --primary: black;
  --accent: #f5efff;
  --secondary-accent: #dcdae0;
}
[data-theme="dark"] {
  --background: #000;
  --primary: white;
  --accent: #13101d;
  --secondary-accent: #211b26;
}

.App {
  background-color: var(--background);
  color: var(--primary);
}
