:root {
  --background: white;
  --text-primary: black;
  --accent: #f5efff;
  --secondary-accent: #dcdae0;
}
[data-theme="dark"] {
  --background: #000;
  --text-primary: white;
  --accent: #131119;
  --secondary-accent: #282628;
}

.App {
  background-color: var(--background);
}
