:root {
  --background: white;
  --primary: #6e49e8; // Light & dark
  --primary-hover: #583ab8; // Light & dark
  --text: #22222f;
  --secondary-text: #70707f; // Light & dark
  --accent: #e8ecf1;
  --accent-hover: #cfd3d8;
  --accent-disabled: #a4a4a4;
  --secondary-accent: #dadce0;
  --dropdown-shadow: #00000030;
  --modal-backdrop: rgba(0, 0, 0, 0.2);
  --form-error: #f8d7da;
}
[data-theme="dark"] {
  --background: #100f10;
  --text: white;
  --accent: #1d1d20;
  --accent-hover: #2d2d2f;
  --accent-disabled: #444548;
  --secondary-accent: #2c2c2f;
  --dropdown-shadow: #00000040;
  --modal-backdrop: rgba(0, 0, 0, 0.4);
  --form-error: #2b1718;
}

body {
  background-color: var(--background);
  color: var(--text);
}
